<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= video.name %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1><%= video.name %></h1>
    <video controls width="800">
      <source src="/videos/<%= video.video_filename %>" type="video/mp4">
    </video>
    <br>
    <a href="/"><button class="upload">Back to Homepage</button></a>
  </div>
</body>
</html>
